/* GLOBAL */
:root
{
}

*
{
	box-sizing:border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 12px;
}

html, body
{
	min-height: 100%;
	background: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

body
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: auto;
}

a:link
{
	color: cadetblue;
	text-decoration: none;
	font-size: inherit;
}

a:visited
{
	color: cadetblue;
	text-decoration: none;
	font-size: inherit;
}

a:hover
{
	color: cadetblue;
	text-decoration: none;
	font-size: inherit;
}

a:active
{
	color: cadetblue;
	text-decoration: none;
	font-size: inherit;
}



/* PROFILE */
.profileName
{
	text-align:center;
	font-size: 3.5rem;
}

.profileGithub
{
	line-height: 1;
	font-size: 2.5rem;
	color: cornflowerblue;
	padding-top: 1vh;
	padding-bottom: 13vh;
}



/* PROJECTS */
.project
{
	padding-top: 4vh;
	width: 90%;
	padding-bottom: 3vh;
}

.projectTitle
{
	background: inherit;
	font-size: 2.5rem;
	color: #c9ad69;
	font-weight: bold;
	margin: auto;
}
.projectTitle:hover
{
	color: white;
	cursor: pointer;
}

.projectSection
{
	padding-left: 3%;
	padding-right: 3%;
}

.projectSectionTitle
{
	padding-top: 4vh;
	font-size: 1.5rem;
	padding-bottom: 1vh;
	font-weight: bold;
}

.projectSectionText
{
	padding-top: 1vh;
	padding-bottom: 1vh;
	line-height: 1.4;
	font-size: 1.2rem;
	color: hsl(210deg 33% 96%);
}

.projectCode
{
	display: block;
	padding: 15px;
	background-color: hsl(0deg 0% 13%);
	color: hsl(210deg 33% 96%);
	text-align: left;
	overflow: auto;
	-webkit-user-select: all;
	user-select:all;
	border-radius: 15px;
	margin-bottom: 1vh;
	margin-top: 1vh;
}
  
